.cart-item{
    width:20rem;
    background-color: $color-warning;
    transition: all 0.4s;
    margin: 2rem 0;
    box-shadow:0 0 2rem 1rem rgba($color-warning, 0.3) ;
    cursor: alias ;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    &__container {
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        flex-wrap:wrap;
        width:100%;

    }
    
    &__body {
        padding: 1rem;
        direction: ltr;
    }
    &__price {
        text-align: center;
        
    }
    &__name{
        @media (max-width:600px){
            font-size: $m-size;
        }
    }
    &__counter {
        text-align:center;
        margin: 0.6rem 0;
        &--count{
            color:$grin;
            padding: 0 0.5rem;
        }
    }
    &__trash {
        text-align: center;
        color:$grin;
    }
    &__img{
        width: 100%;
        height:10rem;
        @media (max-width:600px){
            
        }
    }
    &:hover{
        transform: translate(-.5rem)    ;
        -webkit-transform: translate(-.5rem)    ;
        -moz-transform: translate(-.5rem)    ;
        -ms-transform: translate(-.5rem)    ;
        -o-transform: translate(-.5rem)    ;
    }
    .hover{
        &:hover{
            color:$color-danger;
            cursor: pointer;
        }
    }
}