.slider{
    max-width: 1120px;
    margin: 0 auto $s-size auto;
    height: 90vh;
    overflow: hidden;
    direction: ltr;
    @media (max-width:650px){
        height: 40vh;
    }

    &__img{

        height: 100%;
        width: 100%;
        
    }

}
