$color-primary:#E8EDDF;
$color-secondary:#6B717E;
$color-main:#8E9AAF;
$color-warning:#C5E8EC;
$color-danger:#CEB7B3;

$grin:#104F55;
$dark-grin:#1C3738;
$blue:#2EC4B6;
$dark-blue:#FDFFFC;
$yellow:#FF9F1C;
$orange:#E71D36;
$grey:#011627;

$s-size:1.2rem;
$m-size:1.6rem;
$l-size:1.8rem;
$xl-size:2.4rem;
